:root {
  --fraction: 10vh;
  --empty-element-color: rgb(144, 144, 144);
  --main-text-color: rgb(18 118 18);
  --blocked-element: 5px solid rgb(160, 60, 6);
  --font-size: 24px;
}

body * {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.puzzleBord {
  border: 1px solid var(--empty-element-color);
}
.game {
  position: relative;
  display: inline-flex;
  width: 100%;
  height: auto;
  margin: auto;
  user-select: none;
}

.puzzleBord {
  box-sizing: content-box;
  width: calc(var(--fraction) * 7);
  height: calc(var(--fraction) * 7);
  margin: calc(var(--fraction) / 4);
  border: 20px solid var(--empty-element-color);
  border-radius: 5px;
}
.row {
  display: flex;
  width: calc(var(--fraction) * 7);
  height: var(--fraction);
}
.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--fraction);
  height: var(--fraction);
  background-color: rgb(225, 253, 225);
  border: 1px solid var(--empty-element-color);
}
.cell > p {
  font-size: var(--font-size);
  font-style: italic;
  font-weight: 600;
  color: var(--main-text-color);
  margin: auto;
}
.cell.empty {
  background-color: var(--empty-element-color);
}
.cell.blocked {
  border: var(--blocked-element);
  background-color: rgba(255, 255, 255, 0.134);
}

.puzzleItems {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-height: calc(var(--fraction) * 7 );
  overflow-y: scroll;
  margin: calc(var(--fraction) / 4);
}
.puzzleItems p {
  width: 100%;
  text-align: center;
  font-size: var(--font-size);
  font-weight: 500;
  color: var(--main-text-color);
  margin-bottom: calc(var(--fraction) / 4);
}
.itemsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: calc(var(--fraction) / 2);
}

.item {
  display: grid;
}
@media (max-width: 1200px) {
  :root {
    --fraction: 10vw;
    --font-size: 4vw;
  }

  .game {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .puzzleBord {
    margin: auto;
  }
}
