:root {
  --fraction: 10vh;
  --empty-element-color: rgb(144, 144, 144);
  --background-color: rgb(225, 253, 225);
  --main-color: rgb(18, 120, 18);
  --blocked-element: 5px solid rgb(160, 60, 6);
  --font-size: 24px;
}

body {
  font-family: "Courier New", Courier, monospace;
  box-sizing: border-box;
}
body {
  margin: 0;
}
.puzzleBord {
  border: 1px solid var(--empty-element-color);
}
.game {
  position: relative;
  display: inline-flex;
  justify-content: center;
  width: 100%;
  height: auto;
  margin: auto;
  user-select: none;
}

.puzzleBord {
  box-sizing: content-box;
  width: calc(var(--fraction) * 7);
  height: calc(var(--fraction) * 7);
  margin: calc(var(--fraction) / 4);
  border: 20px solid var(--empty-element-color);
  border-radius: 5px;
}
.row {
  display: flex;
  width: calc(var(--fraction) * 7);
  height: var(--fraction);
}
.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--fraction);
  height: var(--fraction);
  background-color: var(--background-color);
  border: 1px solid var(--empty-element-color);
}
.cell > p {
  font-size: var(--font-size);
  font-style: italic;
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
  color: var(--main-color);
  margin: auto;
}
.cell.empty {
  background-color: var(--empty-element-color);
}
.cell.blocked {
  border: var(--blocked-element);
  background-color: rgba(255, 255, 255, 0.134);
}

.puzzleItems {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  margin: calc(var(--fraction) / 4) 0;
}
.scrollContainer {
  width: 100%;
  max-height: calc(var(--fraction) * 7);
  overflow-y: scroll;
}
.controls {
  display: flex;
  justify-content: center;
  gap: calc(var(--fraction) / 4);
  margin: calc(var(--fraction) / 4);
}
.controls button {
  width: var(--fraction);
  height: var(--fraction);
  padding: calc(var(--fraction) / 8) calc(var(--fraction) / 4);
  border: 2px solid var(--main-color);
  border-radius: 5px;

  font-size: calc(var(--font-size) * 0.8);
  font-weight: 600;
  font-style: italic;
  color: var(--main-color);
  background-color: var(--background-color);
  cursor: pointer;
  transition: 0.3s;
}
.controls button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.controls button:hover {
  background-color: var(--main-color);
}
.puzzleItems p {
  width: 100%;
  text-align: center;
  font-size: var(--font-size);
  font-weight: 500;
  color: var(--main-color);
  margin-bottom: calc(var(--fraction) / 4);
}
.itemsContainer {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  gap: calc(var(--fraction) / 2);
}

.item {
  display: grid;
}
.item:hover {
  cursor: grab;
  transform: scale(1);
}

@media (max-width: 1200px) {
  :root {
    --fraction: 10vw;
    --font-size: 4vw;
  }

  .game {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .puzzleBord {
    margin: auto;
  }
  .puzzleItems {
    width: auto;
    margin: auto;
  }
}
