:root {
--fraction: 10vh;
--empty-element-color :rgb(144, 144, 144);
--mait-text-color: rgb(18 118 18);
--blocked-element: 5px solid rgb(160, 60, 6);
}

body * {
  box-sizing: border-box;
}
body{

  margin: 0;
}
.puzzleBord {
    border: 1px solid var(--empty-element-color);
}
.game {
  display: inline-flex;
  width: 100%;
  height:auto;
  margin: auto;

}

.puzzleBord {
  box-sizing:content-box ;
  width: calc(var(--fraction)*7);
  height:calc(var(--fraction)*7);
  margin:var(--fraction);
  border: 20px solid var(--empty-element-color);
  border-radius: 5px;
}
.row {
  display: flex;
  width:calc(var(--fraction)*7);
  height:var(--fraction) ;
}
.bordItem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--fraction);
  height: var(--fraction);
  background-color: rgb(225, 253, 225);
  border: 1px solid var(--empty-element-color);
}
.bordItem > p{
font-size: 28px;
font-style: italic;
font-weight: 600;
color: var(--mait-text-color);
}
.bordItem.empty {
  background-color: var(--empty-element-color);
}
.blocked {
  border: var(--blocked-element);
}